/* Estilos globales para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo claro */
    color: #333; /* Texto oscuro */
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: hsl(0, 0%, 100%);
    color: #5b846c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 80px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre iconos de navegación */
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

nav img {
    width: 34px;
    height: 36px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-right: 30px;
}

nav img:hover {
    transform: scale(1.3);
}

main {
    padding: 40px 20px;
    text-align: center;
}

main h2 {
    margin: 20px 0 10px;
    font-size: 22px;
    color: #3c866d; 
}

main img {
    width: 900px;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 8px;

}

.mapa, .calificaciones {
    width: 120px;
    height: 110px;
    margin: 20px;
    border-color: #5b846c;
}

.mapa:hover, .calificaciones:hover {
    transform: scale(1.3);
}

/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-nav img {
    width: 32px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin-left: 60px;
}

.footer-nav img:hover {
    transform: scale(1.3);
}
