body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    border-radius: 10px;
    padding: 40px;
    width: 600px;
    text-align: center;
    transform: scale(1.2);
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color: hsl(0, 0%, 100%);
    color: #5b846c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    width: 80px;
    height: 60px;
    margin-right: 15px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre iconos de navegación */
}

nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav img {
    width: 30px;
    height: 28px;
    cursor: pointer;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

nav img:hover {
    transform: scale(1.3);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.restaurant-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

h1 {
    font-size: 1.5em;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

p {
    margin: 10px 0;
    font-size: 1.2em;
}

.confirm-btn {
    background-color: #a3d5c3;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-btn:hover {
    background-color: #67ae8e;
}

/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-nav img {
    width: 25px;
    height: 28px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.footer-nav img:hover {
    transform: scale(1.3);
}
