body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #50a88a;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2, h3 {
    font-size: 1.8em;
    margin-top: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: justify; /* Justificar el texto */
}

ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    text-align: justify; /* Justificar el texto */
}

b {
    color: #50a88a;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    height: 40px;
}

.nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menu-item {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.menu-item:hover{
    color: #50a88a;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-button,
.register-button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    /*background-color: #50a88a;*/
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.animacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#typewriter {
    display: flex;
    font-size: 1.5rem;
    color: #50a88a;
    text-align: center;
}

.login-button, .register-button{
    background-color: #85d7bc;
}

.login-button:hover, .register-button:hover{
    background-color: #50a88a;
}

/*estilos contenido de página principal
(debajo del titulo por un planeta más limpio)*/

.info-planeta-limpio {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.info-planeta-limpio h2 {
    font-size: 2.5rem;
    color: #50a88a;
    margin-bottom: 15px;
}

.info-planeta-limpio p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.8;
}

.lista-beneficios {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lista-beneficios li {
    margin: 10px;
    font-size: 1rem;
    color: #333;
    max-width: 250px;
    text-align: left;
}

.lista-beneficios .icono {
    font-size: 1.5rem;
    margin-right: 8px;
}

.cita {
    font-style: italic;
    margin: 20px 0;
    font-size: 1.1rem;
    color: #777;
    border-left: 4px solid #50a88a;
    padding-left: 15px;
}

.galeria-imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.galeria-imagenes img {
    width: 100%;
    max-width: 200px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video {
    margin-top: 20px;
}

video {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.register {
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(130vh - 60px);
}

.login {
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(80vh);
}
.section-registro-recolector {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 4cap auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;

}

.registerRecolector {
    display: none;
    justify-content: center;
    align-items: center;
    height: calc(100vh);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 150px;
    width: 100%;
    max-width: 500px;
}

.logo-login {
    width: 180px;
    margin-bottom: 18px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
}

.label {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
    width: 100%;
}

.input {
    background-color: rgb(237, 235, 235);
    border: none;
    border-radius: 8px;
    height: 22px;
    width: 100%;
    font-size: 15px;
    padding: 6px;
    margin-bottom: 15px;
}

.boton-iniciar-sesion, .boton-registrar {
    margin-top: 4px;
    margin-bottom: 10px;
    background-color: #a9e0ce;
    border-radius: 8px;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    height: 40px;
}

.boton-iniciar-sesion:hover, .boton-registrar:hover {
    background-color: #50a88a;
}

.sin-cuenta,
.con-cuenta {
    font-size: 14px;
    color: #333;
}

.link-a-registro,
.link-a-login {
    color: #63c3a3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.link-a-registro:hover,
.link-a-login:hover {
    color: #4b937b;
}

/* Media query para ocultar el encabezado completo en pantallas pequeñas */
@media (max-width: 640px) {
    .header {
        display: none;
    }
    .animacion {
        display: none;
    }
    .login {
        display: flex;
    }
    .register {
        display: flex;
    }
}



.waste-classification {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.waste-classification h1 {
    text-align: center;
    color: #50a88a;
    margin-bottom: 20px;
    font-size: 2rem;
}

.waste-classification p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 10px;
}

.category {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}

.category h2 {
    color: #50a88a;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.category ul {
    list-style: disc;
    margin-left: 20px;
    color: #555;
}

.category li {
    margin-bottom: 5px;
}
