body {
    font-family: 'Poppins', sans-serif;
    background-color: #fbf8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-wrap: wrap;
}

/* Estilos para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    background-color: hsl(0, 0%, 100%);
    color: #5b846c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 90px;
    height: 70px;
    margin-right: 25px;
    margin-left: 20px;
}

.logo h1 {
    font-size: 28px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

nav img {
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-right: 35px;
    transition: transform 0.3s ease;
}

nav img:hover {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.history {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 600px;
    margin-top: 80px; /* Espacio para el header */
    margin-bottom: 60px; /* Espacio para el footer */
    overflow: hidden; /* Para asegurar que no haya scroll en el contenedor principal */
}

.scroll-container {
    max-height: 500px; /* Ajusta la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega scroll vertical si es necesario */
    padding-right: 10px; /* Añade espacio para la barra de desplazamiento */
}

.entry {
    background-color: #f0f8f5;
    border: 2px solid #a3d5c3;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}


.entry-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.by {
    font-weight: bold;
    margin-right: 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name {
    font-weight: bold;
}

.entry-info {
    font-size: 1em;
    color: #666666;
}

.date-time {
    justify-content: left !important;
}

.rate-link {
    color: #007bff;
    text-decoration: none;
}

.rate-link:hover {
    text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-nav img {
    width: 38px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.calificaciones {
    width: 55px !important;
    height: 55px !important;
}

.footer-nav img:hover {
    transform: scale(1.3);
}

@media (max-width: 600px) {
    .logo img {
        width: 60px;
        height: 40px;
    }

    .logo h1 {
        font-size: 20px;
    }

    nav img {
        width: 25px;
        height: 25px;
    }

    .history {
        width: 100%;
        padding: 15px;
        margin-top: 120px;
    }

    footer {
        padding: 5px 0;
    }

    .footer-nav img {
        width: 25px;
        height: 25px;
    }
}